@import url(https://cdsjs.cloudflare.com/ajax/libs/font=awesome/4.6.3/css/font=awesome.css);
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

  *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: rgb(216, 195, 199);
}
header .navbtns {
    display: inline-block;
    margin-left: 50%;
    position: absolute;
    top: 0;
    margin-top: 30px;
    margin-right: 50px;

}

header .navbtns button {
    border: 2px solid burlywood;
    width: 110px;
    height: 37px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #b16f3c;
    margin-right: 20px;
    background: transparent;
}
.inner-width{
max-width: 1100px; 
margin: auto;
padding: 0 40px;
display: flex;
align-items: center;
justify-content: space-between;
}
.logo{
    font-size: 80px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Great Vibes',cursive;
    color:rgb(235, 61, 148)
    cursor pointer;
}
.logo span{
    font-size: 40px;
    color:rgb(211, 57, 69)
}  
.navbar-menu a{
    font-size: 26px;
    font-weight: 1500;
    font-family: 'Railway' ,sans-serif;
    color: rgb(7, 4, 4);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 35px;
    display: inline-block
} 
.navbar-menu a::after{
    content: ''
    display block;
    width: 0;
    height: 1.0px;
    background-color: darkgoldenrod;
    transition: width .3s;
}
.navbar-menu a:hover::after{
    width: 100%;
}
#home{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content1{
    background-color: rgb(199, 156, 63);
}
.content2{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)),url(111.jpg);
    background-position: center;
    background-size: cover;
}
.content1 .content{
    color: black;
    padding: 50px;
    background-color: rgb(221, 207, 168);
    position:absolute;
    left: 150px;
    top: 340px;
    text-align:left;
    width: 590px;
    height: 317px;
}
.content p{
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 1.1px;
    font-family: 'Railway' ,sans-serif;
}
.content button{
    padding: 17px 25px;
    margin-top: 10px;
    background-color: rgb(228, 101, 59);
    border: none;
    color: #000;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-family: 'Raleway',sans-serif;
}
.content button{
    padding: 17px 25px;
    margin-top: 30px;
    background-color: rgb(214, 150, 65);
    border: black;
    color: #000;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-family: 'Raleway' ,sans-serif;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s;
}
.content button:hover{
    color: #ebe1e1;
}

.home h2 {
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
}
/* ABOUT PART STARTS HERE */

.about {
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    
}

.about h2 {
    text-align: center;
    color: coral;
    text-transform: uppercase;
    text-shadow: 5px 5px 2px black;
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
    border-bottom: 3px solid rgb(218, 140, 38);
    border-top: 3px solid rgb(238, 151, 38);
    border-radius: 20px;
}

.about p {
    background: rgba(111, 78, 55, 0.5);
    border-radius: 10px;
    padding: 10px;
    border: 2px solid rgb(250, 146, 10);
    color: rgb(17, 16, 16);
    transition: 0.7s;
}

.about p:hover {
   background: rgba(111, 78, 55, 0.9);
}

/*ABOUT ENDS HERE */


/*SERVICES PART STARTS HERE */

.services {
    margin-top: 20px;
    margin-left: 12%;
    margin-right: 12%;


}

.services h2 {
    margin-top: 1%;
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 5px 5px 2px black;
    text-transform: uppercase;
    margin-left: 30%;
    margin-right: 30%;
    border-top: 3px solid burlywood;
    border-bottom: 3px solid burlywood;
    border-radius: 20px;
    background: rgba(111, 78, 55, 0.8);
}

.services h4 {
    color: white;
    text-transform: uppercase;
    padding: 5px;
    text-shadow: 5px 5px 2px black;

}

.services p {
    color: white;
    padding: 10px;
}


.services .info1 {
    border: 2px solid burlywood;
    margin-top: 1%;
    margin-left: 5;
    width: 40%;
    float: right;
    margin-right: 5%;
    border-radius: 10px;
    background: rgba(111, 78, 55, 0.5);
    transition: 0.7s;
 
}

.services .info2 {
    border: 2px solid burlywood;
    margin-top: 1%;
    margin-left: 5%;
    width: 40%;
    border-radius: 10px;
    background: rgba(111, 78, 55, 0.5);
    transition: 0.7s;
 
}

.services .info3 {
    border: 2px solid burlywood;
    margin-top: 1%;
    margin-left: 5%;
    width: 40%;
    float: right;
    margin-right: 5%;
    border-radius: 10px;
    background: rgba(111, 78, 55, 0.5);
    transition: 0.7s;
}

.services .info4 {
    border: 2px solid burlywood;
    margin-top: 1%;
    margin-left: 5%;
    width: 40%;
    border-radius: 10px;
    background: rgba(111, 78, 55, 0.5);
    transition: 0.7s;
}

.services .info1:hover {
    background: rgba(111, 78, 55, 0.9);
}

.services .info2:hover {
    background: rgba(111, 78, 55, 0.9);
}

.services .info3:hover {
    background: rgba(111, 78, 55, 0.9);
}

.services .info4:hover {
    background: rgba(111, 78, 55, 0.9);
}

/* SERVICES PART ENDS HERE*/





/*CONTACT PART STARTS HERE*/

.contact {
    border: 2px solid #ec8434;
    border-radius: 10px;
    width: 55%;
    margin: auto;
}

.contact h1 {
    text-align: center;
    border-bottom: 5px solid rgb(240, 158, 50);
    background: rgba(245, 170, 117, 0.6);
    text-transform: uppercase;
}

.contact input {
    margin-top: 20px;
    margin-left: 25%;
    display: block;
    width: 50%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid rgb(168, 111, 35);
    padding-left: 10px;
}

.contact input[type=email] {
    color: rgb(12, 12, 12);
    font-size: 15px;

}
.contact input[type=password] {
    color: rgb(14, 13, 13);
    font-size: 15px;
}

.contact input::placeholder {
    font-size: 15px;
}

.contact textarea {
   display: block;
   border: 2px solid rgb(248, 162, 48);
   border-radius: 5px;
   outline: none;
   background: transparent;
  margin: auto;
   padding: 10px;
}

.contact textarea::placeholder {
    color: rgb(15, 14, 14);
    font-size: 14px;
}

.contact textarea[type=text] {
    color: rgb(22, 21, 21);
    font-size: 14px;
}

.contact #submit-btn {
  margin-top: 20px;
  margin-left: 40%;
  background: rgba(111, 78, 55, 0.6);
  width: 20%;
  height: 40px;
  border: 1px solid burlywood;
  border-radius: 10px;
  margin-bottom: 2%;
  color: white;
}

.contact #submit-btn:hover {
   cursor: pointer;
   background-color: #b16f3c; 
   color: black;
}

.contact #submit-btn:active {
    background: rgba(111, 78, 55, 0.8);
}

/* CONTACT PART ENDS HERE*/


.content2 h1{
    position: absolute
    left 220px;
    top: 260px;
    font-style: 200px;
    font-family: 'Raleway' ,sans-serif;
    font-weight: 1500;
    color: rgb(19, 15, 17);
    letter-spacing: 3px;
}
.content2 h1 span{
    color: #0f0909;
}
